.dashboard-page {
  max-width: 1400px;
  margin: 0 auto;

}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .dashboard-grid {
    grid-template-columns: 1fr 2fr;
  }
}

.dashboard-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.control-panel {
  height: 4rem;
  background-color: var(--card);
  border-radius: var(--radius);
  border: 1px solid var(--border);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
